.hero {
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: var(--hero-color);
}

.hero__constraint {
    width: 1520px;
}

.hero__logo-container {
    width: 480px;
    height: 40px;
}

.hero__logo-mobile {
    display: none;
}

.hero__content-container {
    height: 508px;
    flex-shrink: 0;
}

.hero__description-container {
    width: 1130px;
}

.hero__title {
    font-size: var(--size-regular);
    color: var(--semi-transparent);
    text-transform: uppercase;
}

.hero__description {
    color: var(--text-color-primary-inverse);
    font-size: var(--size-giant);
    line-height: var(--line-height-increased);
}

.hero__credit {
    font-size: var(--size-regular);
    color: var(--text-color-primary-inverse);
    white-space: nowrap;
}

/* Mobile */

@media screen and (max-width: 480px) {
    .hero__constraint {
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
    }

    .hero__logo-container {
        width: 44px;
        height: 40px;
    }

    .hero__logo-desktop {
        display: none;
    }

    .hero__logo-mobile {
        display: flex;
    }

    .hero__content-container {
        height: 503px;
    }

    .hero__description-container {
        width: 100%;
    }

    .hero__description {
        font-size: var(--size-semi-big);
        line-height: var(--line-height-semi-increased);
    }

    .hero__credit {
        font-size: var(--size-semi-regular)
    }
}

/* Tablet */

@media screen and (max-width: 768px) {
    .hero {
        height: 1080px;
    }

    .hero__constraint {
        width: 100%;
        margin-right: 40px;
        margin-left: 40px;
    }

    .hero__title {
        font-size: var(--size-almost-regular);
    }

    .hero__description-container {
        width: 100%;
    }

    .hero__description {
        font-size: var(--size-semi-giant);
        line-height: var(--line-height-big);
    }

    .hero__content-container {
        height: auto;
    }
}
